
.title {
  text-align: center;
  font-size: 60px;
 }
 .title a {
  color: #09f;
  text-decoration: none;
 }
 .another_title {
  color: #333;
  text-align: center;
 }
 .nav {
  font-size: 30px;
  text-align: center;
 }
 .nav a {
  color:#09f;
  text-decoration: none;
 }